<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${page.title}"></title>
    <meta name="keywords" th:content="${page.keywords}" content=""/>
    <meta name="description" th:content="${page.description}" content=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/channel.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
</head>
<body>
<!-- 顶部导航 -->
<div class="topNav" th:include="fragments/top::top"></div>

<div class="main position mb30 head-art">
    <a href="http://www.huanlebian.com" title="育儿知识大全_欢乐变" rel="sidebar" onclick="addFav();"
       class="head-favorite">收藏<em></em></a>
    <a href="/" target="_blank"><em class="head-title"></em></a>
    <a th:href="${page.headUrl}" target="_blank"><em class="head-channel" th:text="${page.headName}"></em></a>
    <em class="head-zq">列表页</em>
    <em class="arr"></em><a href="/" target="_blank">首页</a>&nbsp;/&nbsp;
    <th:block th:each="item:${page.topNav}">
        <a th:href="${item.url}" th:text="${item.title}" target="_blank"></a>&nbsp;/&nbsp;
    </th:block>
    <i>正文</i>
</div>

<!-- news -->
<div id="tab3" class="tab3 main">
    <div id="left660" class="left660 border shadow fl">
        <div id="conList" class="conList">
            <th:block th:each="item:${page.webNewsList}">
                <div class="pic-txt">
                    <p class="pic">
                        <a target="_blank" th:href="${item.url}">
                            <img width="200" height="150" th:src="${item.imageUrl}" src=""/>
                        </a>
                    </p>
                    <p class="tit">
                        <a th:href="${item.url}" target="_blank" th:text="${item.title}"></a>
                    </p>
                    <p class="txt" th:text="${item.summary}"></p>

                </div>
                <div class="pic-txt-line"></div>
            </th:block>
        </div>

        <div id="pages" class="pcbaby_page">
            <a target="_self" th:if="${page.paging.pageNumber} &gt; 0"
               th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber-1)}"
               class="prev">上一页</a>
            <a th:href="${#strings.replace(page.paging.url,'[number]','0')}" target="_self">1</a>
            <th:block th:if="${page.paging.pageNumber} &gt; 1">...</th:block>

            <th:block th:each="item:${page.paging.pages}">
                <a th:if="${item == page.paging.pageNumber}"
                   th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(item))}"
                   target="_self" th:text="${item}"></a>
                <span th:if="${item==page.paging.pageNumber}" th:text="${item}"></span>
            </th:block>

            <th:block th:if="${page.paging.pageNumber+4} &lt; ${page.paging.totalPage}"> ...</th:block>
            <a th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber + 5))}"
               target="_self" th:text="${page.paging.pageNumber + 6}"></a>

            <a target="_self" th:if="${page.paging.pageNumber!=page.paging.totalPage}"
               th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber+1))}"
               class="next">下一页</a>
        </div>

    </div>
    <div class="fr" style="width:306px;">

    </div>


</div>


<div th:include="fragments/bot::bot"></div>
<script type="text/javascript" th:src="@{/resources/js/slide.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</body>
</html>