<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>亲子百科</title>
    <meta name="author" content="sunwukong"/>
    <meta name="description" content="欢乐变亲子网亲子百科，提供全面的生活百科和疾病百科资讯。欢乐变亲子网，让新手爸爸妈妈学会如何育儿！"/>
    <meta name="keywords" content="亲子百科，育儿宝典，怀孕宝典，育儿百科，怀孕百科"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/baike.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>

</head>
<body>
<!-- topNav -->
<div class="topNav" th:include="fragments/top::top"></div>

<!-- head-->
<div class="head">
    <div class="main">
        <a class="logo" href="/" target="_blank"></a>
        <a href="/baike/" class="name fl">百科</a>


        <div class="search">
            <div id="s-form" class="form">
                <form id="search" class="clearfix" target="_blank" method="get" action="#">
                    <input id="q" class="input" type="text" name="q" value=""/>
                    <a class="sbtn" title="搜索" onclick="document.getElementById('search').submit();"
                       href="javascript:void(0)"></a>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- 导航 -->
<div class="nav shadow">
    <div class="main">
        <div id="subNav" class="subNav fl">
            <a href="/baike" target="_blank">百科首页</a>
            <th:block th:each="parent: ${page.topNav}">
                    <span class="drop">
                <a href="javascript:;" th:text="*{parent.title}"></a>
                <em class="drop-btn"></em>
                <ul class="drop-menu">
                        <li th:if="*{parent.sub!=null}" th:each="next:*{parent.sub}">
                                    <a th:href="*{next.url}" target="_blank" th:text="*{next.title}"></a>
                        </li>
                </ul>
                </span>
            </th:block>

            <a href="#" target="_blank">营养</a>
            <a href="#" target="_blank">生活</a>
            <a href="#" target="_blank">用品</a>
        </div>
        <div class="th-b fr">
            <a target="_blank" href="#" title="生男生女早知道">生男生女</a><em></em>
            <a target="_blank" href="#"
               title="食谱_食谱大全_健康食谱_营养食谱_母婴食谱">食谱</a><em></em>
            <a href="#" title="用品常识_亲子百科" target="_blank">用品常识</a>
        </div>
    </div>
</div>


<!-- 轮播 -->
<div class="main part">
    <div id="slide01" class="tab shadow" onmouseover="this.className='tab shadow tab-active';"
         onmouseout="this.className='tab shadow';">

        <div class="c" th:each="slide,iterStat:${page.slideList}">
            <p class="pic"><a th:href="*{slide.url}" target="_blank">
                <img th:src="*{slide.imageUrl}" width="660" height="340" th:alt="*{slide.title}"/>
            </a></p>
            <p class="tips"><a href="#" target="_blank">精彩推荐</a></p>
            <p class="tit"><a th:href="*{slide.url}" target="_blank" th:text="*{slide.title}"></a></p>
            <p class="des" th:text="*{slide.summary}">...</p>
        </div>

        <div class="control" id="slide01_control">
            <a href="javascript:void(0)" class="current"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
        </div>
        <a href="#" class="btn btnL" onClick="slide01.prev();return false;" onmouseover="slide01.stop();"
           onmouseout="slide01.play();"></a>
        <a href="#" class="btn btnR" onClick="slide01.next();return false;" onmouseover="slide01.stop();"
           onmouseout="slide01.play();"></a>
    </div>
</div>

<!-- body -->

<div class="main" style="margin:15px auto 15px auto;">
    <div class="box-baike">

        <th:block th:each="one:${page.list}">
            <div class="baike-th" style="margin-top:0;">
                <a class="baike-th-name" th:href="*{one.url}" target="_blank" th:text="*{one.title}"></a>
                <em class="icon-tit1"></em>
            </div>
            <div class="baike-tb main clearfix">

                <div class="baike-tb-dl" th:each="two:*{one.sub}">
                    <dl>
                        <dt><i class=""></i>
                            <th:block th:text="*{two.title}"></th:block>
                        </dt>
                        <dd>
                            <span th:each="three:*{two.sub}">
                                <a th:href="*{three.url}" th:text="*{three.title}" th:title="*{three.title}"
                                   target="_blank"></a>
                            </span>
                        </dd>
                    </dl>
                </div>


            </div>
        </th:block>
    </div>
</div>

<div th:include="fragments/bot::bot"></div>
<script type="text/javascript" th:src="@{/resources/js/slide.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</body>
</html>
