body,h1,h2,h3,h4,p,dl,dt,dd,ul,ol,li,th,td,form,button,input,textarea{margin:0;padding:0;}
body{background:#f8f8f8;color:#333333;min-width: 1000px;}
body,button,input,select,textarea{font:12px/1.75 \5FAE\8F6F\96C5\9ED1;}
button,input,select,textarea,h1,h2,h3,h4{outline:none;font-size:100%;}
em,i{font-style:normal;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
img,fieldset{border:0;vertical-align:middle;}
a{text-decoration:none;color:#333333;transition: color 0.15s ease-in;-o-transition: color 0.15s ease-in;-ms-transition: color 0.15s ease-in;-webkit-transition: color 0.15s ease-in;-moz-transition: color 0.15s ease-in;}
a:hover{color:#ff4444;}
.fl,.mark{float:left;display:inline;}
.fr,.submark{float:right;display:inline;}
.oh{overflow:hidden;zoom:1;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table;font:0/0 a;}
.clearfix:after{clear:both;}
.clear{clear: both;height: 0;overflow: hidden;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.mr15{margin-right:15px;}
.ml15{margin-left:15px;}
.mb30{margin-bottom:30px;}
.f14{font-size:14px;}
.fb{font-weight:700;}
.ps-r{position:relative;}

.white,a.white,.white a{color:white;}
.red,a.red,.red a{color:#ff4444;}
.gray,a.gray,.gray a{color:#666666;}
a.white:hover,.white a:hover,a.red:hover,.red a:hover,a.gray:hover,.gray a:hover{color:#ff4444;}

.main{width:1000px;margin:0 auto;zoom:1;}
.main:after{content:"\20";clear:both;height:0;display:block;overflow:hidden;}
.left665{float:left;width:665px;}
.right305{float:right;width:305px;}
.part{background:white;border:1px #ededed solid;border-radius:2px;}

/*顶部导航*/
.topNav {font-size: 12px;line-height:15px;height:15px;padding:15px 0;}
.topNav a{float:left;padding:0 9px;border-right:1px #ededed solid;color:#636363;}
.topNav a:hover{color:#f44;}
.topNav a.last{border-right: none;}

/*头部*/
.head-title{width:101px;height:27px;background:url(../images/head.png) no-repeat 0 -48px;float:left;margin-top:18px;}
.head-channel{width:45px;height:22px;line-height:24px;background:#f44;color:#fff;font-size: 20px;float:left;margin-left:7px;margin-top:20px;text-align:center;}
.head-favorite{float:left;width:38px;line-height:22px;height:23px;background:url(../images/head.png) no-repeat;_background:url(../images/head_ie.png) no-repeat;padding-left:23px;padding-right:8px;text-align:center;color:#999;margin-left:7px;margin-top:20px;position:relative;}
.head-favorite em{position:absolute;width:15px;height:15px;background:url(../images/head.png) no-repeat 0 -23px;_background:url(../images/head_ie.png) no-repeat 0 -23px;left:8px;top:2px;}
.head-zq{float:left;margin-left:10px;margin-top:20px;font-size: 18px;padding:0 3px;height:22px;line-height:22px;color:#333;text-align:center;vertical-align:middle;}
.head-favorite:hover em{background-position: -16px -23px;}
.head-favorite-after,.head-favorite-after:hover{color:#999;}
.head-favorite-after em,.head-favorite-after:hover em{color:#999;background-position: -32px -23px;}
.head-art{padding-left:0;}
.head-art .head-title,.articleList .head-title{margin-top:1px;}
.head-art .head-channel,.articleList .head-channel{margin-top:3px;}
.head-art .head-zq,.articleList .head-zq{margin-top:3px;margin-right:30px;}
.head-art .head-channel{margin-right:30px;}
.head-art .head-favorite{float:right;margin-top:3px;}


/* main */
.articleCon{padding:19px;}
.artTop{text-align:center;padding-top:17px;width:600px;margin:0 auto 25px;}
.artTop .artTit{font:24px/28px \5FAE\8F6F\96C5\9ED1;}
.artTop .artSub{color:#999999;margin-top:4px;border-bottom:1px #ededed dashed;line-height:28px;}
.artTop .artSub a{color:#999;}
.artTop .artSub a:hover{color:#f44;}
.artTop .artSub span{margin:0 8px;}
.artTop .artLabel{float:left;line-height:38px;}
.artTop .artLabel a{margin-right:10px;}
.artTop .artLabel-title{color:#999999;}
.artTop .artShare{float:right;position:relative;cursor:pointer;line-height:38px;padding-right:10px;}
.artTop .artShare .arr{width:5px;height:3px;display:inline-block;background:url(../images/downArr.png) no-repeat;position:absolute;top:17px;left:52px;overflow:hidden;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;-o-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.artTop .artShare .bdsharebuttonbox{display:none;width:125px;height:119px;position:absolute;left:0;top:34px;}
.artTop .artShare .bdsharebuttonbox li{text-align:left;zoom:1;}
.artTop .artShare .bdsharebuttonbox li a{display:block;font:14px/40px \5FAE\8F6F\96C5\9ED1;border-bottom:1px #ededed dashed;margin:-1px 0 0;float:none;background:none;height:40px;padding-left:47px;position:relative;}
.artTop .artShare .bdsharebuttonbox li a:hover{background:#f8f8f8;border-color:#f8f8f8;color:#ff4444;}
.artTop .artShare .bdsharebuttonbox li.first a{margin-top:0;}
.artTop .artShare .bdsharebuttonbox li.last a{border-bottom:none;}
.artTop .artShare .bdsharebuttonbox li em{width:24px;height:24px;position:absolute;margin-top:8px;margin-left:13px;background:url("../images/b2.png") no-repeat 0 -65px;z-index:5;}
.artTop .artShare .bdsharebuttonbox li.txwb em{background-position:0 -91px;}
.artTop .artShare .bdsharebuttonbox li.xlwb em{background-position:0 -117px;}
.artTop .artShare .bdshare-arr{width:12px;height:7px;line-height:7px;position:absolute;left:47px;top:-7px;background:url("../images/b2.png") no-repeat 0 -143px;overflow:hidden;_background:url(../images/b2_ie.png) no-repeat 0 -143px;}
.artTop .on .arr{-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); /* IE */
    filter:FlipV;-ms-filter:FlipV;}
.artTop .on .bdsharebuttonbox{display:block;}
/* artText */
.artText{line-height:180%;font-size:14px;width:604px;clear:both;margin:0px auto;overflow:hidden;}
.artText th{font-size:14px;}
.artText table{margin:0 auto;}
.artText td{word-break:break-all;}
.artText p{margin:0 auto;font-size:14px;word-wrap:normal;padding-bottom:20px;word-break:normal;}
.artText .pPic{text-align:center;margin-top:-10px;margin-bottom:37px;}
.artText .pPic-a{display:block;font-size:14px;}
.artText .pTxt-h2{text-indent:0;}


/* search */
.search{margin-bottom:12px;}
.search .form{margin-top:3px;float:left;display:inline;position:relative;}
.search .form .sbtn{position:absolute;left:152px;top:0;filter:progid:DXImageTransform.Microsoft.alpha(opacity=0);-moz-opacity:0;opacity:0;-o-transition:left 0.4s ease-in;-ms-transition:left 0.4s ease-in;-webkit-transition:left 0.4s ease-in;-moz-transition:left 0.4s ease-in;}
.search input{width:175px;border:none;float:left;color:#adadad;background:#f8f8f8;height:24px;line-height:22px;border-bottom:1px solid #ececec;background:url(../images/b.png) no-repeat 1px -228px;padding-left:29px;}
.search .form-active .sbtn{display:inline;float:left;width:52px;height:25px;background:url(../images/search1.png) no-repeat 0 0;filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);-moz-opacity:1;opacity:1;left:204px;}
.search .form-active .sbtn:hover{background:url(../images/search2.png) no-repeat 0 0;}
.search .hot-word{padding-top:4px;clear:both;}
.search .hot-word a{color:#adadad;margin-right:10px;}


.lBox{padding:10px 19px;}
.lBox .lBox-th h3.mark{font:18px/34px \5FAE\8F6F\96C5\9ED1;color:#ff4444;}
.rBox{padding:0 20px;}
.rBox .rBox-th{padding-top:15px;height:33px;border-bottom:1px #ededed solid;}
.rBox .rBox-th h3.mark{font:18px/27px \5FAE\8F6F\96C5\9ED1;height:32px;margin-bottom:-1px;border-bottom:2px solid #ff4444;position:relative;}
.fixTop{position:fixed;top:0px;_position:absolute;_top:expression(documentElement.scrollTop);z-index:200;width:305px;}
.spanclass{display:none;}


/* position */
.position{position:relative;color:#999;height:30px;line-height:30px;background:#f8f8f8;padding-left:20px;}
.position .positionChannel{line-height:30px;float:left;font-size:30px;color:#333;font-weight:400;padding-right:30px;}
.articleList .position{padding-left:0;}
.position .arr{display:inline-block;*display:inline;*zoom:1;content:"";line-height:0;height:0;width:0;}
.position .arr{border-left:3px solid #ff4444;border-top:3px dashed transparent;border-bottom:3px dashed transparent;position:absolute;top:12px;margin-left:-10px;}
.position i{color:#333;}


.recommend-tb{padding-bottom:5px;}
.recommend-tb li a{display:block;font:13px/60px \5FAE\8F6F\96C5\9ED1;border-bottom:1px #ededed dashed;margin-top:-1px;height:60px;padding-left:25px;background:url() no-repeat 15px 30px;overflow:hidden;}
.recommend-tb li a:hover{background-color:#f8f8f8;border-color:#f8f8f8;}
.recommend-tb li.reNum a{padding-left:70px;background-image:url("../images/b2.png");background-repeat:no-repeat;_background-image:url(../images/b2_ie.png);}
.recommend-tb li.first a{margin-top:0;}
.recommend-tb li.last a{border-bottom:none;}
.recommend-tb li.reNum-1 a{background-position:-122px 16px;}
.recommend-tb li.reNum-2 a{background-position:-122px -44px;}
.recommend-tb li.reNum-3 a{background-position:-122px -104px;}
.recommend-tb li.reNum-4 a{background-position:-122px -164px;}
.recommend-tb li.reNum-5 a{background-position:-122px -224px;}
.recommend-tb li.reNum-6 a{background-position:-122px -280px;}
.recommend-tb li.reNum-7 a{background-position: -122px -339px;}
.recommend-tb li.reNum-8 a{background-position: -122px -395px;}
.recommend-tb li.reNum-9 a{background-position: -120px -450px;}
.recommend-tb li.reNum-10 a{background-position: -113px -513px;}
.recommend-tb .lastMore{height: 27px;line-height: 26px;margin: 8px 0 15px;clear: both;}
.recommend-tb .lastMore a{display: block;text-indent: 70px;height: 26px;background: #f8f8f8 url(../images/b.png) no-repeat 174px -137px;color: #666;border-bottom: 1px solid #ccc;}
.recommend-tb .lastMore a:hover{background: #f1f1f1 url(../images/b.png) no-repeat 174px -137px;
    color: #666;}



/* sliderTab */
.slideTab{font-size:0;}
.slideTab .toc{height:10px;width:10px;background:url(../images/b2.png) no-repeat -29px -77px;display:inline-block;margin:9px 0 0 8px;cursor:pointer;}
.slideTab .current{background-position:-29px -65px;}
.QR{height:100px;background:#f3f3f3;}
.QR .oh{padding-left:6px;line-height:30px;}
.QR .oh p{font-size:16px;padding-top:15px;}
.mood .contentDiv{width:625px;overflow:hidden;}
.mood .lBox-tb{padding:5px 0 10px;}
.mood .lBox-tb ul{width:670px;}
.mood .lBox-tb li{float:left;width:250px;margin-right:70px;height:26px;overflow:hidden;padding-left:11px;font:14px/26px \5FAE\8F6F\96C5\9ED1;background:url() no-repeat 3px 12px;}
.lBox-tab .lBox-th{border-bottom:1px #ededed solid;}
.lBox-tab .lBox-th .toc{margin-top:8px;font:14px/33px \5FAE\8F6F\96C5\9ED1;border:1px white solid;border-bottom-color:#ededed;margin-bottom:-1px;position:relative;height:33px;float:left;padding:0 12px;cursor:pointer;}
.lBox-tab .lBox-th .current{border-width:1px;border-style:solid;border-color:#ff4444 #ededed white;color:#ff4444;}
.lBox-tab .lBox-tb{padding:13px 0 3px;line-height:24px;}
.lBox-tab .lBox-tb a{display:inline-block;}
.lBox-tab .lBox-tb a:hover,.lBox-tab .lBox-tb a:hover em{color:#666;}
.lBox-tab .lBox-tb em{color:#333;}
.lBox-tab .lBox-tb .lBox-tb-em,.lBox-tab .lBox-rd em{color:#999;padding:0 6px;}
.lBox-recommend .lBox-tb{padding-bottom:8px;}
.lBox-recommend .contentDiv{width:625px;overflow:hidden;}
.lBox-recommend .ulPicTxt{width:660px;*zoom:1;}
.lBox-recommend .ulPicTxt:before,.lBox-recommend .ulPicTxt:after{content:"";display:table;font:0/0 a;}
.lBox-recommend .ulPicTxt:after{clear:both;}
.lBox-recommend .ulPicTxt li{float:left;font:14px/24px \5FAE\8F6F\96C5\9ED1;text-align:center;width:185px;margin:15px 35px 0 0;}
.lBox-recommend .ulPicTxt p{height:24px;overflow:hidden;}
.lBox-recommend .ulPicTxt img{border:1px #ededed solid;}


/*底部*/
.footer{padding-top:10px;text-align:left;line-height:20px;}
.footer,.footer a{color:#333;}
.footer a{text-decoration:none;}
.footer a:hover{color:#f33;text-decoration:underline;}
.footer img{border:0;-ms-interpolation-mode:bicubic;}
.footer .ft-nav,.footer-hd,.footer-ft{text-align:center;}
.footer-box{width:990px;margin:0 auto;padding-bottom:30px;}
.footer-hd,.footer-bd,.footer-ft{padding-top:15px;}
.footer-hd{padding-bottom:20px;}
.footer-bd{border-top:1px solid #c2c2c2;padding:15px 22px 0;line-height:20px;_zoom:1;text-align: center;}
