<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>欢乐变亲子网_健康育儿 品质生活</title>
    <meta name="keywords" content="怀孕,育儿,家庭"/>
    <meta name="description" content="欢乐变亲子网为家长们提供0-6岁各阶段孩子成长、教育、家庭和用品等全方位、多角度的各种实用资讯以及有关怀孕的各方面知识。"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/index.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/tab.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/lazy.js}"></script>
</head>

<body id="Jbody">

<!-- channelNav -->
<div class="channelNav2" th:include="fragments/top::top"></div>


<div class="main">
    <div class="head">
        <div class="logo"><a href="http://www.huanlebian.com/"></a></div>
        <div class="search">
            <div class="form" id="s-form">
                <form action="#" method="get" target="_blank" id="search" class="clearfix">
                    <input type="text" value="" name="q" id="q" class="input"/>
                    <a href="javascript:void(0)" class="sbtn" onclick="document.getElementById('search').submit();"
                       title="搜索"></a>
                </form>
            </div>
            <div class="hot-word">
                <a href="#" target="_blank">宝宝取名</a>
                <a href="#" target="_blank">美食百科</a>
                <a href="#" target="_blank">生男生女</a>
                <a href="#" target="_blank">手抄报</a>
            </div>
        </div>

    </div>
</div>

<!--主导航-->
<div class="nav shadow">
    <ul class="main" id="nav">
        <li th:each="parent,iterStat: ${page.topNav}" th:class="${iterStat.first}?'cur'">
            <dl>
                <dt><a th:href="*{parent.url}" target="_blank" class="nav1" th:text="*{parent.title}"></a>
                </dt>
                <dd th:each="next:*{parent.sub}">
                    <a th:href="*{next.url}" target="_blank" th:text="*{next.title}"></a>
                </dd>
            </dl>
        </li>
    </ul>
</div>

<!-- 次级导航 -->
<div class="main subnav">
    <table class="subnav-tab">
        <tr>
            <td>
                <a href="#" target="_blank" class="first">百科</a>
            </td>
            <td><em class="fl vline"></em>
                <a href="#" target="_blank">试用</a>
            </td>
            <td style="width:100px;"><em class="fl vline"></em>
                <a href="#" target="_blank">宝宝发烧</a>
            </td>
            <td style="width:100px;"><em class="fl vline"></em>
                <a href="#" target="_blank">护理专区</a>
            </td>
            <td><em class="fl vline"></em>
                <a href="#" target="_blank">专家</a>
            </td>
            <td><em class="fl vline"></em>
                <a href="#" target="_blank">快问</a>
            </td>
            <td><em class="fl vline"></em>
                <a href="#" target="_blank">活动</a>
            </td>
            <td><em class="fl vline"></em>
                <a href="#" target="_blank">达人</a>
            </td>
        </tr>
    </table>
</div>

<!-- 轮播 -->
<div class="main part">
    <div id="slide01" class="tab shadow" onmouseover="this.className='tab shadow tab-active';"
         onmouseout="this.className='tab shadow';">

        <div class="c" th:each="slide,iterStat:${page.slideList}">
            <p class="pic"><a th:href="*{slide.url}" target="_blank">
                <img th:src="*{slide.imageUrl}" width="660" height="340" th:alt="*{slide.title}"/>
            </a></p>
            <p class="tips"><a href="#" target="_blank">精彩推荐</a></p>
            <p class="tit"><a th:href="*{slide.url}" target="_blank" th:text="*{slide.title}"></a></p>
            <p class="des" th:text="*{slide.summary}">...</p>
        </div>

        <div class="control" id="slide01_control">
            <a href="javascript:void(0)" class="current"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
            <a href="javascript:void(0)"></a>
        </div>
        <a href="#" class="btn btnL" onClick="slide01.prev();return false;" onmouseover="slide01.stop();"
           onmouseout="slide01.play();"></a>
        <a href="#" class="btn btnR" onClick="slide01.next();return false;" onmouseover="slide01.stop();"
           onmouseout="slide01.play();"></a>
    </div>
</div>

<div class="main part part2">
    <div class="col-ab">
        <div class="box shadow">
            <th:block th:each="content:${page.contentList}">
                <div class="pic-txt">
                    <p class="pic">
                        <a th:href="*{content.url}" target="_blank">
                            <img th:src="*{content.imageUrl}" th:alt="*{content.title}" height="145" width="225"/>
                        </a>
                    </p>
                    <p class="tit"><a th:href="*{content.url}" target="_blank" th:text="*{content.title}"></a>
                    </p>

                    <ul class="txt">
                        <li th:each="news,iterStat:*{content.newsList}" th:class="*{iterStat.odd}?'fl':'fr'">
                            <a th:href="*{news.url}" target="_blank" th:text="*{news.title}"></a>
                        </li>
                    </ul>
                </div>
                <div class="pic-txt-line"></div>
            </th:block>
        </div>
    </div>
    <div class="col-c">
        <div class="ivy-yc"></div>
    </div>
</div>

<div th:include="fragments/bot::bot"></div>
<script type="text/javascript" th:src="@{/resources/js/slide.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/index.js}"></script>

</body>
</html>