<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="${page.title}"></title>
    <meta name="keywords" th:content="${page.keywords}" content=""/>
    <meta name="description" th:content="${page.description}" content=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/article.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <script>
        //todo 计数器

    </script>
</head>
<body>

<div class="article">
    <!-- topNav -->
    <div class="topNav" th:include="fragments/top::top"></div>
    <!-- main -->
    <div class="wraper">
        <div class="main">
            <div class="left665">
                <div class="position mb10 head-art">
                    <a href="http://www.huanlebian.com" title="育儿知识大全_欢乐变" rel="sidebar" onclick="addFav();"
                       class="head-favorite">收藏<em></em></a>
                    <a href="/" target="_blank"><em class="head-title"></em></a>
                    <a th:href="${page.headUrl}" target="_blank"><em class="head-channel" th:text="${page.headName}"></em></a>
                    <em class="arr"></em><a href="/" target="_blank">首页</a>&nbsp;/&nbsp;
                    <th:block th:each="item:${page.topNav}">
                        <a th:href="${item.url}" th:text="${item.title}" target="_blank"></a>&nbsp;/&nbsp;
                    </th:block>
                    <i>正文</i>
                </div>
                <!-- content -->
                <div class="articleCon part mb30" id="article_brief">
                    <!-- artTop S -->
                    <div class="artTop">
                        <h1 class="artTit" th:text="${page.data.title}">标题</h1>
                        <p class="artSub">
                            <span th:text="${#calendars.format(page.data.uploadTime,'yyyy-MM-dd hh:mm:ss')}">时间</span>
                            <span>出处：<a th:href="${page.data.url}" target="_blank">欢乐变</a></span><span>作者：佚名</span>
                        </p>
                    </div>
                    <!-- artTop E -->
                    <!-- artText S -->
                    <div class="artText">
                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td th:utext="${page.data.content}"></td>
                            </tr>
                        </table>
                    </div>
                    <!-- artText E -->
                </div>
                <!-- content -->
            </div>

            <div class="right305">
                <div class="search clearfix">
                    <div class="form form-active" id="s-form">
                        <form action="" method="get" target="_blank" id="search" class="clearfix">
                            <input value="" name="q" id="q" class="input" type="text"/>
                            <a href="javascript:void(0)" class="sbtn"
                               onclick="document.getElementById('search').submit();" title="搜索"></a>
                        </form>
                    </div>

                </div>

                <div class="part rBox recommend mb30">
                    <div class="rBox-th">
                        <h3 class="mark">精华推荐</h3>
                    </div>
                    <div class="rBox-tb recommend-tb">
                        <ul>
                            <li class="reNum first  reNum-1">
                                <a href="#" target="_blank">每日一杯自制酸奶 幼儿更健康</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="part rBox recommend mb30">
                    <div class="rBox-th">
                        <h3 class="mark">相关推荐</h3>
                    </div>
                    <div class="rBox-tb recommend-tb">
                        <ul>
                            <li class="first ">
                                <a href="#" target="_blank"
                                   title="断奶超顺利 三步断奶法学起来">断奶超顺利 三步断奶法学起来</a>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>

            <!-- 首屏 End -->
            <div class="left665">
                <!-- 可能感兴趣内容 S -->
                <div class="part lBox mood mb30" id="Jmood">

                </div>
                <!-- 可能感兴趣内容 E -->
                <!-- 相关知识点/热点专区 S -->
                <div class="part lBox lBox-tab mb30" id="JlBoxTab">
                    <div class="lBox-th clearfix" style="border-bottom: none;">
                        <h3 class="mark">相关知识点</h3>
                    </div>
                    <div class="lBox-tb">
                        <a href="#" target="_blank">混合喂养</a>
                        <em class="lBox-tb-em">|</em>
                        <a href="#" target="_blank">混合喂养是什么</a>
                    </div>
                </div>
                <!-- 相关知识点/热点专区 E -->
                <!-- 推荐 S -->
                <div class="part lBox lBox-recommend mb30" id="JlBoxRe">
                    <div class="lBox-th clearfix">
                        <h3 class="mark">欢乐变向你推荐</h3>
                        <span class="submark slideTab"></span>
                    </div>
                    <div class="lBox-tb">
                        <div class="contentDiv">
                            <ul class="ulPicTxt">
                                <li><a target="_blank" href="#">
                                    <img width="183" height="138" src="#"/>
                                    <p>母乳不足 如何进行混合喂养</p>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  推荐 E -->
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div th:include="fragments/bot::bot"></div>
</div>
<script type="text/javascript" th:src="@{/resources/js/common.js}"></script>
</body>
</html>