<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="bot">
    <div class="footer">
        <div class="footer-box">
            <div class="footer-hd">
                <p class="ft-nav">
                    <a href="#" target="_blank">网站介绍</a> |
                    <a href="#" target="_blank">投稿指南</a> |
                    <a href="#" target="_blank">联系我们</a> |
                    <a href="#" target="_blank">帮助中心</a> |
                    <a href="#" target="_blank">阿拉丁意见箱</a> |
                    <a href="#" target="_blank"><b>用户体验提升计划</b></a>
                </p>

            </div>
            <div class="footer-bd">
                <a href="http://www.miibeian.gov.cn/" target="_blank" class="bottom_a">增值电信业务经营许可证：xxx-XXXX</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>
