<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="top">
    <div class="main">
        <a href="/" target="_blank">首页</a>
        <a href="/d/huaiyun" target="_blank">怀孕</a>
        <a href="/d/chanhou" target="_blank">产后</a>
        <a href="/d/yuer" target="_blank">育儿</a>
        <a href="#" target="_blank">生活</a>
        <a href="#" target="_blank">早教</a>
        <a href="#" target="_blank">营养</a>
        <a href="#" target="_blank">食谱</a>
        <a href="#" target="_blank">用品</a>
        <a href="#" target="_blank">快问</a>
        <a href="#" target="_blank">家庭育儿</a>
        <a href="#" target="_blank">活动</a>
        <a href="#" target="_blank">达人</a>
        <a class="last" href="#" target="_blank">工具</a>
    </div>
</div>
</body>
</html>
